<div class="container">
  <h1>{{title}}</h1>

  <div class="list-container">

    <div class="todo-container column-container">
      <div class="list"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="paletteComponent"
      [cdkDropListConnectedTo]="[doneList]">
        <h2>Palette Components</h2>
        <ul *ngFor="let palette of paletteComponent" [ngSwitch]="palette.typeObj" cdkDrag>
          <li *ngSwitchCase="0">
            <app-button></app-button>
          </li>
          <li *ngSwitchCase="1">
            <app-label></app-label>
          </li>
          <li *ngSwitchCase="2">
            <app-text-area enabled="false"></app-text-area>
          </li>
          <li *ngSwitchCase="3">
            <app-input enabled="false"></app-input>
          </li>
        </ul>
      </div>
    </div>

    <div class="done-container column-container">
      <div class="list"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="canvasComponent"
        [cdkDropListConnectedTo]="todoList"
        (cdkDropListDropped)="onDrop($event)">
        <h2>Canvas Components</h2>
        <ul *ngFor="let canvas of canvasComponent" [ngSwitch]="canvas.typeObj" cdkDrag>
          <li *ngSwitchCase="0">
            <app-button></app-button>
          </li>
          <li *ngSwitchCase="1">
            <app-label></app-label>
          </li>
          <li *ngSwitchCase="2">
            <app-text-area></app-text-area>
          </li>
          <li *ngSwitchCase="3">
            <app-input></app-input>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="column-container list-container">
    <h2>Component Property</h2>
      <app-property [property]="selectedComponent"></app-property>
  </div>
</div>
