<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<!-- <app-navbar></app-navbar> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="content" role="main">
  <!-- PALETTE SECTION -->

  <div id="palette-container">
    <button class="accordion palette-item">Navbar</button>
    <button class="accordion palette-item">Link</button>
    <button class="accordion palette-item">Header</button>
    <button class="accordion palette-item">Paragraph</button>
    <button class="accordion palette-item" (click)="addComponentHandler('label')">Label</button>
    <button class="accordion palette-item" (click)="addComponentHandler('button')">
      Button
    </button>
    <button class="accordion palette-item">Dropbox</button>
    <button class="accordion palette-item">Checkbox</button>
    <button class="accordion palette-item">Radio</button>
    <button class="accordion palette-item" (click)="addComponentHandler('input')">Input Field</button>
    <button class="accordion palette-item" (click)="createTextbox()">Textbox</button>
    <button class="accordion palette-item">Date Picker</button>
    <button class="accordion palette-item">Modal</button>
    <button class="accordion palette-item" (click)="createPopup()">Popup</button>
    <button class="accordion palette-item">Image</button>
    <button class="accordion palette-item" (click)="addComponentHandler('br')">Break Element</button>

    <!-- <ul class="list-group">
      <li class="list-group-item palette-item" (click)="createButton()">
        Button
      </li>
      <li class="list-group-item palette-item">Text Input</li>
      <li class="list-group-item palette-item">Label</li>
    </ul> -->
  </div>

  <!-- CANVAS SECTION -->

  <div id="canvas-container">
    <nav mat-tab-nav-bar [backgroundColor]="background">
      <a mat-tab-link *ngFor="let tab of mapTabs | keyvalue"
         (click)="onTabChangeHandler(tab.key)"
         [active]="tabActive == tab.key"> {{tab.value}} </a>
    </nav>
    <div id="canvas" #canvas
      cdkDropList
      #paletteList="cdkDropList"
      [cdkDropListData]="canvasComponent"
      [cdkDropListConnectedTo]="[paletteList]"
      (cdkDropListDropped)="onDrop($event)">
      <div [ngClass]="component.initProperty.class"
        *ngFor="let component of canvasComponent"
        [ngSwitch]="component.initProperty.typeObj"
        (click)="clickHandler(component)"
        cdkDrag>
        <app-label [property]="component.initProperty" *ngIf="component.initProperty.typeObj == 'label'"></app-label>
        <app-br *ngSwitchCase="'br'"></app-br>
        <app-input [property]="component.initProperty" *ngSwitchCase="'input'"></app-input>
        <app-button [property]="component.initProperty" *ngSwitchCase="'button'" (click)="selectTabHandler(component.initProperty.targetLink)"></app-button>
      </div>
    </div>
  </div>

  <!-- CODE SECTION -->

  <div id="code-container">
    <mat-tab-group class="mat-tab">
      <mat-tab label="tabs">
        <table border="1" cellSpacing="1">
          <tr><td colspan="3"><button id="tabButton" (click)="addTabHandler()">Add Tab</button></td></tr>
          <tr *ngFor="let tab of mapTabs | keyvalue">
            <th><label>Tab Name</label></th>
            <td><input type="text" [value]="tab.value" (change)="tabNameChangeHandler(tab.key, $event)"></td>
            <td><button [id]="tab.key" (click)="tabDeleteHandler(tab.key)">Delete</button></td>
          </tr>
        </table>
      </mat-tab>
      <mat-tab label="property"><app-property [property]="selectedProperty"></app-property></mat-tab>
      <mat-tab label="style"><textarea style="margin: 0" [(ngModel)]="style" cols="30" rows="5" ></textarea></mat-tab>
      <mat-tab label="source">
        <!-- INSERT CODE HERE VIA INTERPOLATION -->
        <code [innerText]="htmlCode"></code>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
  });
</script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
