<div class="container">
  <h1>{{title}}</h1>

  <div class="list-container">

    <div class="todo-container column-container">
      <div class="list"
      cdkDropList
      #paletteList="cdkDropList"
      [cdkDropListData]="paletteComponent"
      [cdkDropListConnectedTo]="[canvasList]">
        <h2>Palette Components</h2>
        <div *ngFor="let palette of paletteComponent" [ngSwitch]="palette.initProperty.typeObj" cdkDrag>
          <app-button *ngIf="palette.initProperty.typeObj == 'button'"></app-button>
          <app-label *ngSwitchCase="'label'"></app-label>
          <app-text-area *ngSwitchCase="'textarea'"></app-text-area>
          <app-input *ngSwitchCase="'input'"></app-input>
        </div>
      </div>
    </div>

    <div>
      <div class="list"
        cdkDropList
        #canvasList="cdkDropList"
        [cdkDropListData]="canvasComponent"
        [cdkDropListConnectedTo]="paletteList"
        (cdkDropListDropped)="onDrop($event)">
        <h2>Canvas Components</h2>
        <div class="{{component.initProperty.class}}" *ngFor="let component of components$ | async" [ngSwitch]="component.initProperty.typeObj" (click)="clickHandler(component)" cdkDrag>
          <app-button [property]="component.initProperty" *ngIf="component.initProperty.typeObj == 'button'"></app-button>
          <app-label [property]="component.initProperty" *ngSwitchCase="'label'"></app-label>
          <app-text-area [property]="component.initProperty" *ngSwitchCase="'textarea'"></app-text-area>
          <app-input [property]="component.initProperty" *ngSwitchCase="'input'"></app-input>
        </div>
      </div>
    </div>

  </div>

  <div class="column-container list-container">
    <h2>Component Property</h2>
      <app-property [property]="selectedComponent.initProperty"></app-property>
  </div>
</div>
