<div>
  <table border="1" cellSpacing="1">
    <tr><th colspan="2">Component Property</th></tr>
    <tr>
      <th><label>id</label></th>
      <td><input type="text" [id] ="property.id" [value]="property.id" (keyup)="idChangeHandler($event)"></td>
    </tr>
    <tr>
      <th><label>value</label></th>
      <td><input type="text" [value]="property.value" (keyup)="valueChangeHandler($event)"></td>
    </tr>
    <tr>
      <th><label>type</label></th>
      <td><input type="text" [value]="property.type" (keyup)="typeChangeHandler($event)"></td>
    </tr>
    <tr>
      <th><label>targetLink</label></th>
      <td><input type="text" [value]="property.targetLink" (keyup)="targetLinkChangeHandler($event)"></td>
    </tr>
    <tr>
      <th><label>dataSrc</label></th>
      <td><input type="text" [value]="property.dataSrc" (keyup)="dataSrcChangeHandler($event)"></td>
    </tr>
    <tr>
      <th><label>imgSrc</label></th>
      <td><input type="text" [value]="property.imgSrc" (keyup)="imgSrcChangeHandler($event)"></td>
    </tr>
    <tr>
      <th><label>class</label></th>
      <td><input type="text" [value]="property.class" (keyup)="classChangeHandler($event)"></td>
    </tr>
    <tr>
      <th><label>style</label></th>
      <td><textarea name="style" id="taID" [value]="property.style" cols="21" rows="5" (keyup)="styleChangeHandler($event)"></textarea></td>
    </tr>
  </table>
</div>

<style>
  th {
    background-color: thistle;
  }
  tr {
    background-color: white;
    border: solid;
  }
  input, textarea {
    border: none;
  }
</style>
